<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuzhou.twitter" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".RestApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="RestClient.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cpbasictweets"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TimelineActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.ComposeActivity"
            android:label="@string/title_activity_compose"
            android:parentActivityName=".ui.TimelineActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yuzhou.twitter.ui.TimelineActivity" />
        </activity>
    </application>

</manifest>
